/* Import*/
.h1 {
  color: #fff;
  font-size: 4em;
  text-shadow: 2px 2px 3px #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 1.5; }

.h2 {
  text-align: center;
  color: #333;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

.h3 {
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

.h4 {
  text-align: center;
  color: #333;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

.h5 {
  color: #fff;
  font-size: 4em;
  text-shadow: 2px 2px 3px #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

.h6 {
  color: #fff;
  font-size: 4em;
  text-shadow: 2px 2px 3px #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase; }

/* Paleta de colores */
/* Boton main*/
.btn-gradient {
  background-image: linear-gradient(to right, #0ceb8e 0%, #afe320 51%, #0ceb8e 100%);
  margin: 10px;
  padding: 15px 45px;
  text-transform: uppercase;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #ccc;
  border-radius: 10px;
  border: none;
  display: inline;
  transition: background 0.5s; }

.btn-gradient:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none; }

/* Boton de info */
.button-info {
  padding: .4em;
  border-radius: .25em;
  background: #E08E45;
  color: #fff; }

.button-info:hover {
  text-decoration: none;
  color: #fff;
  background: #c97d3c; }

/* Flexbox de catering */
.services__container {
  display: flex; }

.services__banner {
  height: 50vh;
  background-color: #ccc; }

.services__banner-photo {
  background-image: url(../img/services/services__photographer/banner__photographer.jpg);
  background-position: center;
  background-size: cover; }

.services__banner__titulo {
  text-align: center;
  color: #333;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 4em; }

@media (min-width: 600px) {
  .services__banner {
    height: 35vh; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.nav-link-Custom {
  text-shadow: 1px 1px 1px #000;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter; }

#nav-link-Custom {
  color: #fff; }

#bg-dark-custom {
  background-color: rgba(51, 51, 51, 0.9); }

.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: #fff;
  box-shadow: 1px 1px 1px #000; }

/* Logo */
.logo {
  padding: .4em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  border: 2px solid #fff;
  box-shadow: 1px 1px #000; }

/* flex row */
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

/* Flex column */
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1; }

.servicesBox {
  justify-content: center;
  align-items: center;
  height: 6em; }
  .servicesBox .services_a {
    color: #fff;
    text-decoration: none; }

@media (max-width: 400px) {
  .servicesBox {
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 6em; }
    .servicesBox .services_a {
      color: #fff;
      text-decoration: none; } }

.bg__catering {
  background-image: url(../img/services/catering.jpg);
  background-size: cover;
  background-position: center; }

.bg__dj {
  background-image: url(../img/services/dj.jpg);
  background-size: cover;
  background-position: center; }

.bg__couch {
  background-image: url(../img/services/moviliario.jpg);
  background-size: cover;
  background-position: center; }

.bg__fotografia {
  background-image: url(../img/services/photograp.jpg);
  background-size: cover;
  background-position: center; }

.bg__ambientaciones {
  background-image: url(../img/services/centerpiece2.jpg);
  background-size: cover;
  background-position: center; }

.bg__deco {
  background-image: url(../img/services/chairs.jpg);
  background-size: cover;
  background-position: center; }

.subTitle {
  color: #fff;
  font-size: 1.4em;
  text-shadow: 2px 2px 2px #000; }

.banner {
  background-image: url(../img/imageback.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%; }

.card {
  max-width: 360px; }

@media screen and (min-width: 768px) {
  .card {
    max-width: 20em; } }

.services__img {
  height: 400px;
  object-fit: cover;
  object-position: center; }

/* Css del apartado de Contact Form */
.containerBackgroundContactForm {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(128, 255, 114, 0), rgba(128, 255, 114, 0)), url(../img/backcontactformgreen.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.containerContactForm {
  width: 790px;
  background: #fff; }

@media screen and (max-width: 790px) {
  .containerContactForm {
    width: 90%;
    background: #fff; } }

.label {
  display: block;
  text-transform: uppercase;
  color: #555;
  padding-top: 30px;
  margin: 0; }

.input {
  /* display: block; */
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: solid 2px #afe320; }

.textarea {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: solid 2px #afe320; }

/* ------------------------------------------------------ Footer TOP ---------------------------------------------- */
.footerTop {
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  text-align: center; }

.footerTopImg i {
  color: #fff;
  padding: 20px;
  font-size: 200px; }

.footerTopImg p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin: 20px; }

.footerTopInformation {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-items: center; */ }

.footerTopInformation i {
  color: #fff;
  font-size: 2rem; }

.infoContacto {
  font-size: 1.6em;
  color: #fff;
  padding: 20px;
  font-family: sans-serif;
  font-weight: lighter; }

.infoContacto a {
  text-decoration: none;
  color: #fff; }

/*------------------------------------------------------- Footer--------------------------------------------------- */
footer {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(to top, #000, #333); }
  footer p {
    color: #fff;
    font-family: 'montserrat', sans-serif; }

.copyright {
  text-align: center;
  padding: 20px; }

.wraperFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px; }
  .wraperFooter .boxFooter {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-style: 20px; }
    .wraperFooter .boxFooter p {
      font-family: 'Montserrat', sans-serif;
      font-weight: lighter;
      font-size: 20px;
      text-align: center; }
    .wraperFooter .boxFooter ul li {
      list-style-type: none;
      padding: 5px; }
      .wraperFooter .boxFooter ul li a {
        color: #888;
        text-decoration: none; }
      .wraperFooter .boxFooter ul li a:hover {
        display: inline;
        text-decoration: underline; }

.video__services {
  height: 50vh;
  width: 100%;
  object-fit: cover; }

.banner {
  position: absolute; }
