/* Flexbox de catering */
.services__container{
    display: flex;
}

.services__banner{
    height: 50vh;
    background-color: tomato;
}

.services__banner__titulo{
    text-align: center;
    color: #333;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    padding-top: 4em;
}

@media (min-width:600px) {
    .services__banner{
        height: 35vh;
    }
}