/*---------------------------- Import --------------------------------------*/
@import "_colors.scss";
@import "_h123456.scss";
@import "_buttons.scss";
@import "_style__services";
@import "_responsive.scss";
@import "_fotos.scss";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // background: #ADA996;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
/*-------------------------- Nav ----------------------------------------------*/
.nav-link-Custom{
    // text-shadow: 1px 1px 1px #000;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    
}

#nav-link-Custom{
    color: #000;
    padding: 1.3em;
    border: transparent 3px solid;
}

#nav-link-Custom:hover{
    border-bottom: solid 3px #e36e20 ;

}

#bg-dark-custom{
    background-color: #fff;
    height: 5rem;
}
.navbar-dark .navbar-toggler{
    color: #fff;
    
    border-color: #fff;
    box-shadow: 1px 1px 1px #000;
}
@media screen and (max-width:991px) {

    .navbar-nav{
        background-color: #fff;
    }
    
}


/* ------------------------------- nav --------------------------------------*/

/*------------------------------- Logo -------------------------------------*/
.logo{
    padding: .4em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    border: 2px solid #000;
}

nav{
    a{
        color: #000;
    }
    a:hover{
        color: #333;

    }
}
/*------------------------------ Subtitulo ---------------------------------*/
.subTitle{
    color: #fff;
    font-size: 1.8em;
    text-shadow: 2px 2px 2px #000;
}

/*------------------------------- Banner ------------------------------------*/
.banner{
    height: 100vh;
    width: 100%;
    background: url(../img/imageback.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*------------------------------- flex row ---------------------------------*/
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/*------------------------------- Flex column ---------------------------------*/
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow:1;
}
/*-------------------------------- Servicios -----------------------------------*/
.servicesBox{
    justify-content: center;
    align-items: center;
    height: 15em;
    border: 1px solid $gris-claro;
    .services_a{
        color: #fff;
        text-decoration: none;
        font-size: 1.6em;
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        text-shadow: 1px 1px 1px $gris;
        text-transform: uppercase;
    }
    .services_a:hover{
        text-decoration: underline;
    }
}

@media (max-width: 400px ) {
    .servicesBox{
        justify-content: center;
        align-items: center;
        width:100%;
        height: 6em;
        .services_a{
            color: #fff;
            text-decoration: none;
            font-size: 1.2em;
    
        }
    }
}

.bg__catering{
    background-image: url(../img/services/catering--opaco.jpg);
    background-size: cover;
    background-position: center;
}

.bg__dj{
    background-image: url(../img/services/dj--opaco.jpg);
    background-size: cover;
    background-position: center;
}

.bg__couch{
    background-image: url(../img/services/moviliario--opaco.jpg);
    background-size: cover;
    background-position: center;
}

.bg__fotografia{
    background-image: url(../img/services/photograp--opaco.jpg);
    background-size: cover;
    background-position: center;
}

/* --------------------------- Cartas de servicios ------------------------------*/

.card{
    max-width: 350px;
}

@media screen and (min-width:768px) {
    .card{
        max-width: 20em;
    }
}

.services__img{
    height: 400px;
    object-fit: cover;
    object-position: center;
}

/*------------------------------ Css del apartado de Contact Form ---------------------------*/

.containerBackgroundContactForm{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(128, 255, 114, 0) ,rgba(128, 255, 114, 0)), url(../img/backcontactformgreen.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerContactForm{
    width: 50%;
    background: #fff;
    padding: 4em;
}


@media screen and (max-width: 790px){

     .containerContactForm{
         width: 90%;
         background: #fff;
         padding: 1em;
     }
}

.label{
    display: block;
    text-transform: uppercase;
    color: #555;
    padding-top: 30px;
    margin: 0;
}

.input{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid 2px #afe320;
}

.textarea{
    width: 100%;
    background: none;
    outline: none;
    border: none;
    border-bottom: solid 2px #afe320;
}
  
/* ------------------------------------------------------ Footer TOP ---------------------------------------------- */

.footerTop{
    // background-color: #7ee8fa;
    // background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
    
    text-align: center;   
    .footerTopImg{
        i{
            color: #fff;
            padding: 20px;
            font-size: 200px;
        }
        p{
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            margin: 20px;    
        }
    }
    .footerTopInformation{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        i{
            color: #fff;
            font-size: 2rem;
        }
        .infoContacto{
            font-size: 1.6em;
            color: #fff;
            padding: 20px;
            font-family: sans-serif;
            font-weight: lighter;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

/*------------------------------------------------------- Footer--------------------------------------------------- */
footer{
    width: 100%;
    background-image: linear-gradient(to top, #000, #333 );
    p{
        color: #fff;
        font-family: 'montserrat', sans-serif;
    }
}

.copyright{
    text-align: center;
    padding: 10px;
}

.wraperFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    .boxFooter{
        display: flex;
        flex-direction: column;
        color: #fff;
        font-style: 20px;
        p{
            font-family: 'Montserrat', sans-serif;
            font-weight: lighter;
            font-size: 20px;
            text-align: left;
        }
        ul{
            li{
                list-style-type: none;
                padding: 5px;
                a{
                    color: #888;
                    text-decoration: none;
                }
                a:hover{
                    display: inline;
                    text-decoration: underline;
                }
            }
        }
    }
}

.final{
    margin: 0;
    font-family: 'montserrat', sans-serif;
    font-weight: lighter;
}